@charset "UTF-8";

@font-face {
  font-family: 'GangwonEdu_OTFBoldA';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html {font-size: 62.5%;}
body {font-size: 1em;/* font-family: 'Noto Serif KR', 'Roboto', sans-serif; font-family: 'GangwonEdu_OTFBoldA', sans-serif;*/ font-family: 'roboto','Noto Sans KR', sans-serif;}
#wrap {overflow: hidden; background: #000;}
a {text-decoration: none;}

#container {padding: 0 40px; max-width: calc(1400px - 4rem);min-width: calc(1024px - 4rem);margin: 70px auto 0;display: flex;justify-content: space-between;align-items: center;}

/* section_2 */
.tab-nav{display:table;width:100%; margin-top: 50px;}
.half_tab-nav {width: 35%; margin: 0 auto 30px;}
.nav{display:table-cell;width:200px;}
.nav a{transition:.4s;position: relative;display:block;font-size:16px;font-weight:700;color:#5c5c5c;text-align:center;border-bottom: 3px solid #5c5c5c;padding-bottom: 15px; text-decoration: none;}
.nav a:after{content:"";transition:.4s;width:0px;}
.nav.on a{color:#fff;}
.nav.on a:after{content:"";position:absolute;bottom:-3px;left:0;right:0;margin:0 auto;width:100%;height:3px;background-color: #fff;}
.con-box{display:none;}
#tabcon-01, #tabcon-02, #tabcon-03, #tabcon-04, #tabcon-05, #tabcon-06, #tabcon-07 {margin: 30px 0 100px;}
.tab_title {margin-bottom: 30px;}
.tab_title p {color: #fff; font-size: 30px; font-weight: 500;}
.tab_top_wrap {display: flex; align-items: center; justify-content: space-between; width: 100%; margin-bottom: 50px;}
.tab_top_left, .tab_top_right {width: 49%;}
.tab_top_left img {width: 100%; height: 350px; object-fit: cover;}
.tab_top_left img:hover {opacity: 0.8; transition: 1s;}
.tab_top_right h4 {font-size: 14px; color: #767676; margin: 10px 0;}
.tab_top_right a p {font-size: 28px; color: #fff; line-height: 36px;}
.tab_top_right a:hover p {color: #e62429;}
.tab_bottom_wrap {width: 100%; display: flex; align-items: flex-start; justify-content: space-between;}
.tab_bottom_content {width: 32%;}
.tab_bottom_content a img {width: 100%; height: 250px; object-fit: cover;}
.tab_bottom_content a img:hover {opacity: 0.8; transition: 1s;}
.tab_bottom_content h4 {font-size: 14px; color: #767676; margin: 10px 0;}
.tab_bottom_content a p {font-size: 14px; color: #fff; line-height: 18px; font-weight: 600;}
.tab_bottom_content a:hover p {color: #e62429;}